<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>

<div id="box">
  <form>
    <h2>Log In</h2>
    <div class="form-group" (ngSubmit)="onSubmit()" [formGroup]="loginForm" id="Login">
      <label for="formGroupExampleInput" class="inner-element">Email</label>
      <input class="inner-element" type="email" class="form-control" id="formGroupExampleInput">
    </div>
    <div class="form-group">
      <label class="inner-element" for="formGroupExampleInput2">Password</label>
      <input class="inner-element" type="password" class="form-control" id="formGroupExampleInput2">
    </divSign in</button>
    <span class="link" class="inner-element" >Haben sie noch keinen Account?</span>
    <br>
    <span class="link" class="inner-element" >Password vergessen?</span>
  </form>

</div>
<div id="red">
  {{error}}
</div>
</body>
</html>
