<h2>Registration</h2>
<form [formGroup]="registerForm" id="register" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>Firstname</mat-label>
    <input matInput id="firstname" type="text" formControlName="firstName">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Lastname</mat-label>
    <input matInput id="lastname" type="text" formControlName="lastName">
  </mat-form-field>
  <mat-form-field>
    <mat-label>E-Mail</mat-label>
    <input matInput id="email" type="email" formControlName="email">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput id="password" type="password" formControlName="password">
  </mat-form-field>
  <!-- input search field with a container below it for displaying the results -->
  <mat-form-field>
    <mat-label>Search</mat-label>
    <input matInput id="search" type="text" formControlName="locationSearch"
           (ngModelChange)="getNewLocationData($event)">
    <mat-hint>Search your location</mat-hint>

    <!--  option selection with only one selection, no multi  -->
    <mat-select formControlName="location" id="location" (selectionChange)="onLocationSelect($event)">
      <mat-option *ngFor="let location of foundLocations" [value]='location.combination'>
        {{location.item_text}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <ng-multiselect-dropdown #hobby_selection [ngModelOptions]="{standalone: true}"
                           [settings]="dropdownSettingsHobbies"
                           [(ngModel)]="selectedHobbies"
                           placeholder="Select your hobbies"
  ></ng-multiselect-dropdown>
  <button mat-raised-button color="primary" type="submit">Register</button>
</form>
